body
	include partials/topnav.pug
	include partials/banner.pug
	section.parallax
		br
		br
		br
		br
		include partials/intro.pug
		br
		br
		include partials/usp.pug
		br
		br
		include partials/reachUs.pug
		br
		br
		include partials/instagram.pug

	//- Homebrewed scripts
	script(src="/javascripts/style.js")