head
	title Srishti Vatika · Farmhouse in Delhi NCR
	html(lang="en")
	meta(name="title" content="Srishti Vatika · Farmhouse in Delhi NCR")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(name="charset" content="utf-8")
	meta(name="viewport" content="width=device-width initial-scale=1.0, user-scalable=no")
	meta(name="language" content="English")
	meta(name="author" content="Krish Goel · KrishSkywalker")

	//- Stylesheet
	link(rel="stylesheet" href="/stylesheets/style.css")

	//- Juicer.io embed
	link(rel="stylesheet" href="/stylesheets/juicer.css")
	script(src="/javascripts/juicer.js")

	//- JQuery
	script(src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript")

	//- Font Awesome icons
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")