section.instagramSection
	div.widthRestriction
		div.cardsContainer
			br
			br
			ul(class="juicer-feed" data-feed-id="srishti-vatika" data-columns="4")
br
br
div.widthRestriction
	p(style="text-align: center; font-weight: bolder") Made with ❤️ and some lines of code by 
		a(href="https://krishgoel.herokuapp.com" style="text-decoration: none; color: gold; padding-bottom: 15px").bodyLinks KrishSkywalker
	br