section.introSection
	div.widthRestriction
		div.row
			div.column-2
				img(src="/images/introImage.jpg").introImage
			div.column-2.column-2-2
				h1 ✨ Farmhouse in heaven
				p Escape the frenetic pace and chaos of everyday life, in to luxury’s very own lap at Srishti Vatika. Away from the cacophony of the NCR, Srishti Vatika is a professionally managed Farm-house venue in West Delhi. We’re duly approved by Delhi Government and MCD to legally host any kind of Social, Cultural and Corporate events and are here to ensure your celebrations with us are seamless.
		hr.hrPink