nav#topnav
	div.widthRestriction
			img(src="/images/logo.png" style="height: 60px").logo
			br
			div.topnavLinksContainer
				a.topnavLinks
					i(style="font-size: 22px").fa.fa-whatsapp
					|  +91-9811198132
div.bodyMerge#bodyMerge