section.uspSection
	div.widthRestriction
		h2 💖 How we make it special for you?
		br
		div.uspCardsContainer
			div.uspCard
				div.uspCardMain
					img(src="/images/USPs/uspOne.jpg").uspImage
					br
					br
					div.uspCardContent
						h3.uspHead Peaceful location
						p.uspContent Host al fresco wedding gatherings at our stunning farmhouse venue set far from the cacophony
						br
			div.uspCard
				div.uspCardMain
					img(src="/images/USPs/uspTwo.jpg").uspImage
					br
					br
					div.uspCardContent
						h3.uspHead Great space
						p.uspContent Imagine an unforgettable wedding in our 2 refined venues with over 3 acres of space
						br
			div.uspCard
				div.uspCardMain
					img(src="/images/USPs/uspThree.jpg").uspImage
					br
					br
					div.uspCardContent
						h3.uspHead Delightful menu
						p.uspContent Delight your guests with delicious culinary delights prepared by our acclaimed catering team
						br
			div.uspCard
				div.uspCardMain
					img(src="/images/USPs/uspFour.jpg").uspImage
					br
					br
					div.uspCardContent
						h3.uspHead Picturesque venue
						p.uspContent With our grand entry passages and scenic waterfalls, your function doesn't feel like anything less than a dream
						br
		hr.hrGold